html {
	background-color: white;
	margin: 0;
}

nav {
	background-color: #61108E;
}

nav li {
	display: inline-block;
	padding: 20px;
}

nav a {
	color: white;
	font-family: "Rockwell";
	text-decoration: none;
}

header {
	text-align: center;
}

.subtitle {
	color: #61108E;
	font-family: serif;
	font-size: 48px;
	font-style: italic;
	text-align: center;
	padding: 0 60px;
}

h1 {
	color: #A942DC;
	font-family: "Optima";
	font-size: 150px;
}

h2 {
	color: darkorchid;
	font-family: "Optima";
	font-size: 60px;
	font-weight: 600;
}

h3 {
	color: slateblue;
	font-family: "Optima";
	font-size: 36px;
	
}

form {
	text-align: center;
	display: inline;
	padding-right: 10px;
}

#mainhead {
	text-align: center;
	box-sizing: border-box;
	height: 800px;
	padding-top: 200px;
	position: relative;
}

#mainback {
	height: 800px;
}

#abthead {
  height: 300px;
	padding-top: 75px;
	position: relative;
}

#abtback {
	height: 300px;
	opacity: 0.6;
}

.background {
	position: absolute;
	width: 1400px;
	opacity: 0.8;
}

.logo {
	height: 40px;
	width: 60px;
}

.welcome h3 {
	text-align: center;
	margin: 20px 60px;
}

.textual {
	color: gray;
	font-family: sans-serif;
	font-size: 24px;
	padding: 0 60px;
}

.directed {
	font-family: "Rubik";
	margin: 0 20px;
	border: 3px solid orchid;
	padding: 20px;
}

.directed h3 {
	font-family: "Rubik";
	font-size: 48px;
}

.output {
	font-family: "Rubik";
	font-size: 28px;
	margin: 20px 60px;
	border: 3px solid orchid;
	padding: 40px;
}

.stupidBox {
	text-align: center;
	display: inline;
	margin: 20px 680px;
	width: 100px;
}

#methods {
	background-color: lavender;
}

#listMaker {
	padding: 20px;
	border: 2px solid orchid;
}

#diagLine {
	text-align: center;
}
